<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginApp"
        tools:targetApi="31">
        <activity
            android:name=".FredsActivity"
            android:exported="false" />
        <activity
            android:name=".OuterwearActivity"
            android:exported="false" />
        <activity
            android:name=".TopsActivity"
            android:exported="false" />
        <activity
            android:name=".BottomsActivity"
            android:exported="false" />
        <activity
            android:name=".signUpActivity"
            android:exported="false" />
        <activity
            android:name=".HomeWishlist"
            android:exported="false" />
        <activity
            android:name=".ViewWishlistActivity"
            android:exported="false" />
        <activity
            android:name=".profileEditActivity"
            android:exported="false" />
        <activity
            android:name=".profileInfoActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>